label {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  height: 60px;  
  padding: 0 20px;
}

label input[type="checkBox"] {
  margin: auto;
}