label {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  height: 60px;  
  padding: 0 20px;
}


input[type="date"] {
  padding: 10px 20px;
  width: 180px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 25px;
  border:5px solid #353536;
  background: #191919;
  color: white;
}

input[type="date"]:hover {
  transition: .5s;
  background: #67c5ff;
  box-shadow: 0 0 15px 5px #182f3d inset;
}

label input[type="checkBox"] {
  margin: auto;
}