h3 span {
  color: red;
  font-weight: 600;
}

div.bolasContainer {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

div.estrellas,
div.numeros {
  width: 100%;
  height: 100px;  
  display: flex;
  margin: 25px;
}


main h3 {
  position: absolute;
  margin-top: 150px;
  gap:5px;  
  color: black;
  width: 400px;
  height: 80px;  
  display: flex;
  align-items: center;
  justify-content: center;  
  border-radius: 25px;
  background: rgba(255,255,255, .7);
}

@media screen and (max-width: 1300px) {

  main h3 {
    margin-top: 25px;
    width: 95%
  }

  div.bolasContainer {    
    display: flex;
    flex-direction: column;
    width: 100%;    
    min-height: 10vh;   
    padding: 20px;
    margin: 0px;    
  }


  div.estrellas,
  div.numeros {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(50px, 1fr) );        
    gap: 3px;
    width: 90%;
    height: auto;      
    align-items: center;
    justify-content: center;
    
  }

}