* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;  
}

:root {
  background-image: linear-gradient(45deg,  #1a1b1b, rgb(68, 68, 68)); 
}

body #root {
  min-height: 100vh;
  width: 100%;
  max-width: 1200px;  
  color: whitesmoke;
  display: grid;
  place-items:center;
  margin:auto;
  grid-template-areas: "header header header header"
                       "aside main main main"
                       "aside main main main"
                       "aside main main main"
                       "aside main main main"
                       "footer footer footer footer";
}

header {
  padding: 10px;
  grid-area: header;
  display: grid;
  place-items: center;
  height: 150px;
  width: 100%;
  top: 0;      
  background: #1a1b1b;
  
}

header,
#root > footer,
aside,
main {
  border-radius: 25px;
  border: 5px solid black;
  box-shadow: 3px 0 10px 3px rgba(0,0,0,.7) inset, -3px 3px 5px 0px #949999 inset;
}

aside {
  margin-left:25px;
  grid-area: aside;
  display: flex;
  flex-direction: column;
  height: 100%;  
  width: 300px;
  background: #242525;
  border-radius: 25px;
  padding: 10px;  
}

main {  
  position: relative;
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 820px;  
  height: 100%; 
  border-radius: 25px;  
}

main >span {
  position: absolute;
  inset: -1px;
  overflow: hidden;
  border-radius: 25px;
}

main > span::before {  
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-image: url('./img/bolas.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
  z-index: -5;
  filter: blur(2px);
}


body footer {
  grid-area: footer;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;  
}

body footer p {
  padding: 0 30px;
}

main footer {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  top: 150px;
  width: 90%;
  padding: 20px;
  height: 75%;
  z-index: 100;   
  overflow-y: scroll;  
  gap:20px;
}

body footer a {
  text-decoration: none;
  color: #9999ff;
  text-shadow: 2px 0px 10px #67c5ff;
}

/* Estilos para los inputs */

select,
input[type="number"],
input[type="date"] {
  padding: 10px 20px;
  width: 180px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 25px;
  border:5px solid #353536;
  background: #191919;
  color: white;
  text-align: center;
}

input[type="date"]:enabled:hover {
  transition: .5s;
  background: #67c5ff;
  box-shadow: 0 0 15px 5px #182f3d inset;
}

@media screen and (max-width: 1300px) {
  body #root {
    max-width: 100vw;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
  }

  header {
    margin-top: 10px;    
    text-align: center;
  }

  header h1 {
    font-size: 7vw;
  }

  aside {
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    
    min-height: 80vh;
    padding: 0px;  
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main {  
    justify-content: flex-start;
    width: 100%;  
    min-height: 90vh;
    padding: 20px;    
    margin-bottom: 25px;
  }
  
  main footer {
    position:relative;    
    display: flex;
    flex-direction: row;
    gap: 5vh;    
    top: 0px;
    max-width: 90vw;
    width: 100%;    
    min-height: 50vh;
    height: auto;
    z-index: 100;       
  }

  body footer {    
    position: relative;
    height: 100px;
    width: 100%;   
    text-align: center; 
  }

  body footer p {
    padding: 2px;
  }

  
}