* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body #root {
  min-height: 100vh;
  width: 100%;
  max-width: 100vw;
  background: #150629;
  color: whitesmoke;
  display: grid;
  grid-template-areas: "header header header header"
                       "aside main main main"
                       "aside main main main"
                       "aside main main main"
                       "aside main main main"
                       "footer footer footer footer";
}

header {
  grid-area: header;
  display: grid;
  place-items: center;
  height: 150px;
  width: 100vw;
  top: 0;      
}

aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  height: 100%;  
  width: 250px;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  width: 100%;
}

footer {
  grid-area: footer;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

footer p {
  padding: 0 30px;
}


/* Estilos para los inputs */

input[type="number"],
input[type="date"] {
  padding: 10px 20px;
  width: 180px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 25px;
  border:5px solid #353536;
  background: #191919;
  color: white;
  text-align: center;
}

input[type="date"]:hover {
  transition: .5s;
  background: #67c5ff;
  box-shadow: 0 0 15px 5px #182f3d inset;
}